body {
	margin: 0; padding: 0;
	font: 10px normal Arial, Helvetica, sans-serif;
}
.container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
ul.topnav {
	list-style: none;
	padding: 0 20px;	
	margin: 0;
	float: left;
	width: 100%;
	background: #222;
	font-size: 1.2em;
	background: url(navi/topnav_bg.gif) repeat-x;
}
ul.topnav li {
	float: left;
	margin: 0;	
	color: #fff;
	display: block;
	padding: 10px 20px 12px 20px;
	position: relative; /*--Declare X and Y axis base--*/
	cursor:pointer;
}

ul.topnav li:hover{
	background: url(navi/topnav_hover.gif) no-repeat center top;
}

ul.topnav li a{
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
ul.topnav li a:hover{
	background: url(navi/topnav_hover.gif) no-repeat center top;
}
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 35px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border: 1px solid #111;
	z-index: 200;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 10px 0 10px 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 170px;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	background: #333 url(navi/dropdown_linkbg.gif) no-repeat 10px center;
	padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background: #222 url(navi/dropdown_linkbg.gif) no-repeat 10px center; 
}
#header img {
	margin: 20px 0 10px;
}